#### Q1. What is a database? Differentiate between SQL and NoSQL databases.

Ans: Database: Colllection of data in organised manner.

SQL: (Structured Query Language)
1. Based on RDBMS.
2. Tabular form of data
3. predefined schema
4. vertically scalable


NoSQL: (Not only SQL)
1. Non-relational DB
2. key value pair (json) form of data
3. no predefined schema
4. horizontally scalable

#### Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

Ans: DDL – Data Definition Language -> SQL commands that can be used to define the database schema.

1. CREATE: This command is used to create the database or its objects (like table, index,etc.)
2. DROP: This command is used to delete objects from the database.
3. ALTER: This is used to alter the structure of the database.
4. TRUNCATE: This is used to remove all records from a table, including all spaces allocated for the records are removed.

1. CREATE TABLE Persons (
    PersonID int,
    LastName varchar(255),
    FirstName varchar(255),
    Address varchar(255),
    City varchar(255));
    
2. DROP TABLE Persons;

3. ALTER TABLE Persons
ADD Email varchar(255);

4. TRUNCATE TABLE Persons;

#### Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

Ans: DML – Data Manipulation Language -> SQL commands that deals with the manipulation of data present in the database.

1. INSERT : It is used to insert data into a table.
2. UPDATE: It is used to update existing data within a table.
3. DELETE : It is used to delete records from a database table.

1. INSERT INTO Customers (CustomerName, ContactName, Address, City, PostalCode, Country)
VALUES ('Bhupesh', 'Ritik', '221B Bakers Street', 'London', '465315', 'UK');

2. UPDATE Customers
SET ContactName = 'Suman', City= 'Jodhpur'
WHERE CustomerID = 1;

3. DELETE FROM Customers WHERE CustomerName='Bhupesh';

#### Q4. What is DQL? Explain SELECT with an example.

Ans: DQL – Data Query Language -> SQL commands that used for performing queries on the data within schema.

SELECT: It is used to retrieve data from the database.

eg: SELECT CustomerName, City FROM Customers;

#### Q5. Explain Primary Key and Foreign Key.

Ans: Primary key is used to uniquely identify a row.

Foreign key is used to connect two tables or maintain the relationship between them.

#### Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [ ]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="bsinghrathore32@gmail.com",
  password="bsinghrathore932"
)
print(mydb)
cursor = mydb.cursor()

* cursor(): Used to define the initial point in the table which can act as interator.
* execute(): Function in python to run SQL commands.

#### Q7. Give the order of execution of SQL clauses in an SQL query.

Ans: SELECT, FROM, WHERE, GROUP BY, HAVING, ORDER BY, LIMIT