#### Q1. What is data encoding? How is it useful in data science?

Ans: **Data encoding** is the process of transforming categorical data into numerical data that can be used for analysis and modeling in data science. 

It is useful in data science as many machine learning algorithms can only operate on numerical data.

#### Q2. What is nominal encoding? Provide an example of how you would use it in a real-world scenario.

Ans: **Nominal encoding** also known as one-hot encoding, is a technique of transforming categorical data into numerical data by creating a binary column for each category.

Eg: Suppose we have a categorical feature "color" with the values "red," "green," and "blue." Nominal encoding would create three binary columns "color_red," "color_green," and "color_blue" and assign a value of 1 to the corresponding column for each row and 0 for the rest. As Red(001), Green(010) and Blue(100)

#### Q3. In what situations is nominal encoding preferred over one-hot encoding? Provide a practical example.

Ans: Essentially nominal encoding is same as the one-hot encoding. In nominal encoding, the binary columns are not necessarily independent, while in one-hot encoding, each binary column is independent.

Eg: Case of education level, the categories "high school," "college," and "graduate school" have a clear order, and nominal encoding would preserve this order. In contrast, one-hot encoding would not consider this order and would create three independent binary columns, which might not be ideal for some applications.

#### Q4. Suppose you have a dataset containing categorical data with 5 unique values. Which encoding technique would you use to transform this data into a format suitable for machine learning algorithms? Explain why you made this choice.

Ans: The choice of encoding technique would depend on the nature of the categorical data. 

If the categorical data is nominal, meaning there is no natural ordering to the categories, then nominal encoding would be preferred. 

On the other hand, if the categorical data is ordinal, meaning there is a natural ordering to the categories, then ordinal encoding would be preferred. 

If the categorical data has no inherent order and there are a large number of unique values, then one-hot encoding may be preferred to avoid introducing unintended relationships between the values.

#### Q5. In a machine learning project, you have a dataset with 1000 rows and 5 columns. Two of the columns are categorical, and the remaining three columns are numerical. If you were to use nominal encoding to transform the categorical data, how many new columns would be created? Show your calculations.

Ans: If we use nominal encoding to transform the two categorical columns, the number of new columns created would be equal to the number of unique values in each categorical column.

Let's assume the first categorical column has 4 unique values, and the second categorical column has 6 unique values.

Therefore, the total number of new columns created would be 4 (like 1000, 0100, 0010, 0001) + 6 (like 100000, 010000, 001000, 000100, 000010, 000001)) = **10**.

#### Q6. You are working with a dataset containing information about different types of animals, including their species, habitat, and diet. Which encoding technique would you use to transform the categorical data into a format suitable for machine learning algorithms? Justify your answer.

Ans: In this scenario, I would use one-hot encoding to transform the categorical data into a format suitable for machine learning algorithms. This is because there are multiple categories within each categorical feature, and each category is not inherently ordered or ranked. One-hot encoding would create new columns for each category, where a 1 would be placed in the corresponding column for each row that contains that category, and 0s would be placed in all other columns. This allows the machine learning algorithm to recognize and analyze the categorical data as separate entities rather than as a continuous variable.

#### Q7.You are working on a project that involves predicting customer churn for a telecommunications company. You have a dataset with 5 features, including the customer's gender, age, contract type, monthly charges, and tenure. Which encoding technique(s) would you use to transform the categorical data into numerical data? Provide a step-by-step explanation of how you would implement the encoding.

Ans: For this scenario, I would use one-hot encoding to transform the categorical data into numerical data. Here are the steps to implement the encoding:

1. Identify the categorical features in the dataset. In this case, the categorical features are gender and contract type.

2. Use the one-hot encoding technique to create new binary columns for each unique value in the categorical features. For example, for the gender feature, we would create two new columns, one for male and one for female. Similarly, for the contract type feature, we would create two new columns, one for a month-to-month contract and one for a long-term contract.

3. Merge the new binary columns with the original numerical features to create a new dataset with only numerical features.

Eg:

In [2]:
import pandas as pd

# create example dataset
data = {'gender': ['Male', 'Female', 'Male', 'Male', 'Female'],
        'age': [42, 31, 23, 55, 28],
        'contract_type': ['One year', 'Month-to-month', 'Two year', 'Two year', 'Month-to-month'],
        'monthly_charges': [65.5, 75.2, 99.0, 85.5, 50.0],
        'tenure': [24, 12, 36, 48, 6],
        'churn': [False, True, False, False, True]}

df = pd.DataFrame(data)

# perform one-hot encoding
encoded_df = pd.get_dummies(df, columns=['gender', 'contract_type'])

encoded_df.head()

,age,monthly_charges,tenure,churn,gender_Female,gender_Male,contract_type_Month-to-month,contract_type_One year,contract_type_Two year
0,42,65.5,24,False,0,1,0,1,0
1,31,75.2,12,True,1,0,1,0,0
2,23,99.0,36,False,0,1,0,0,1
3,55,85.5,48,False,0,1,0,0,1
4,28,50.0,6,True,1,0,1,0,0