#### Q1. What is MongoDB? Explain non-relational databases in short. In which scenarios it is preferred to use MongoDB over SQL databases?

Ans: MongoDB is a popular open-source, NoSQL oriented database,It is designed to handle large amounts of data and provides high performance, scalability, and availability.

Non-relational databases, also known as NoSQL databases, store data in a non-tabular form and do not use SQL as a query language. Instead, they prefer key-value pairs like json to store and organize data.

MongoDB is often preferred over SQL databases in scenarios like:
* Scalability
* Flexibility
* Real-time data processing
* Complex data structures

#### Q2. State and Explain the features of MongoDB.

Ans:
1. Document-Oriented: MongoDB stores data in JSON-like documents, making it flexible and easy to store complex data structures.

2. Scalability: MongoDB is highly scalable and can handle large amounts of data, making it suitable for applications that require high availability and performance.

3. High Availability: MongoDB provides built-in replication and failover capabilities, ensuring high availability and data redundancy.

4. Indexing: MongoDB supports secondary indexes on any field, allowing for fast query performance.

5. Schemaless: MongoDB is schemaless, meaning that documents in a collection do not have to conform to a predefined schema, making it easy to store and retrieve data in a flexible and dynamic way.

7. Query Language: MongoDB provides a rich query language that supports a wide range of operations, including CRUD operations (create, read, update, delete), aggregation, and geospatial queries.

8. Sharding: MongoDB provides built-in sharding capabilities, allowing for horizontal scaling of data across multiple nodes.

#### Q3. Write a code to connect MongoDB to Python. Also, create a database and a collection in MongoDB.

In [1]:
import pymongo

client = pymongo.MongoClient("mongodb+srv://bsinghrathore32:bsinghrathore932@cluster0.st1enbd.mongodb.net/?retryWrites=true&w=majority")

mydb = client["mydatabase"]

mycol = mydb["customers"]

#### Q4. Using the database and the collection created in question number 3, write a code to insert one record, and insert many records. Use the find() and find_one() methods to print the inserted record.

In [3]:
mydict = {"name": "Bhupesh", "address": "Jodhpur"}
x = mycol.insert_one(mydict)

mylist = [
  {"name": "Trilok", "address": "Jaipur"},
  {"name": "Rohit", "address": "Ahemdabad"},
  {"name": "Manish", "address": "Bikaner"},
  {"name": "Anjali", "address": "Delhi"}
]
x = mycol.insert_many(mylist)

In [6]:
for x in mycol.find():
    print(x)
    
print ("#############")

x = mycol.find_one()
print(x)

{'_id': ObjectId('64080a34b312e98834ce5cc3'), 'name': 'Bhupesh', 'address': 'Jodhpur'}
{'_id': ObjectId('64080a7fb312e98834ce5cc4'), 'name': 'Bhupesh', 'address': 'Jodhpur'}
{'_id': ObjectId('64080a7fb312e98834ce5cc5'), 'name': 'Trilok', 'address': 'Jaipur'}
{'_id': ObjectId('64080a7fb312e98834ce5cc6'), 'name': 'Rohit', 'address': 'Ahemdabad'}
{'_id': ObjectId('64080a7fb312e98834ce5cc7'), 'name': 'Manish', 'address': 'Bikaner'}
{'_id': ObjectId('64080a7fb312e98834ce5cc8'), 'name': 'Anjali', 'address': 'Delhi'}
#############
{'_id': ObjectId('64080a34b312e98834ce5cc3'), 'name': 'Bhupesh', 'address': 'Jodhpur'}

#### Q5. Explain how you can use the find() method to query the MongoDB database. Write a simple code to demonstrate this.

Ans: find() method is used to query the database and retrieve documents that match a certain criteria. The method takes in a query object as its parameter, which specifies the conditions that the documents must meet in order to be returned.

In [7]:
# For the above code, find() is demonstrated here as well.
for x in mycol.find():
    print(x)

{'_id': ObjectId('64080a34b312e98834ce5cc3'), 'name': 'Bhupesh', 'address': 'Jodhpur'}
{'_id': ObjectId('64080a7fb312e98834ce5cc4'), 'name': 'Bhupesh', 'address': 'Jodhpur'}
{'_id': ObjectId('64080a7fb312e98834ce5cc5'), 'name': 'Trilok', 'address': 'Jaipur'}
{'_id': ObjectId('64080a7fb312e98834ce5cc6'), 'name': 'Rohit', 'address': 'Ahemdabad'}
{'_id': ObjectId('64080a7fb312e98834ce5cc7'), 'name': 'Manish', 'address': 'Bikaner'}
{'_id': ObjectId('64080a7fb312e98834ce5cc8'), 'name': 'Anjali', 'address': 'Delhi'}

#### Q6. Explain the sort() method. Give an example to demonstrate sorting in MongoDB.

Ans: sort() method is used to sort the documents in a collection based on one or more fields. The sort() method takes one parameter, a dictionary of field names and their sort order (1 for ascending order, -1 for descending order).

In [21]:
results = mycol.find().sort("name",-1)
for result in results:
    print(result)

{'_id': ObjectId('64080a7fb312e98834ce5cc5'), 'name': 'Trilok', 'address': 'Jaipur'}
{'_id': ObjectId('64080a7fb312e98834ce5cc6'), 'name': 'Rohit', 'address': 'Ahemdabad'}
{'_id': ObjectId('64080a7fb312e98834ce5cc7'), 'name': 'Manish', 'address': 'Bikaner'}
{'_id': ObjectId('64080a34b312e98834ce5cc3'), 'name': 'Bhupesh', 'address': 'Jodhpur'}
{'_id': ObjectId('64080a7fb312e98834ce5cc4'), 'name': 'Bhupesh', 'address': 'Jodhpur'}
{'_id': ObjectId('64080a7fb312e98834ce5cc8'), 'name': 'Anjali', 'address': 'Delhi'}

#### Q7. Explain why delete_one(), delete_many(), and drop() is used.

Ans:
* delete_one() method is used to delete a single document that matches the given filter criteria.
* delete_many() method is used to delete all documents that match the given filter criteria.
* drop() method is used to drop an entire collection from the database.

In [22]:
mycol.delete_one({"name": "Rohit"})

In [25]:
mycol.delete_many({"address": "Jodhpur"})

<pymongo.results.DeleteResult object at 0x7f5e3197ee30>

In [27]:
for x in mycol.find():
    print(x)

{'_id': ObjectId('64080a7fb312e98834ce5cc5'), 'name': 'Trilok', 'address': 'Jaipur'}
{'_id': ObjectId('64080a7fb312e98834ce5cc7'), 'name': 'Manish', 'address': 'Bikaner'}
{'_id': ObjectId('64080a7fb312e98834ce5cc8'), 'name': 'Anjali', 'address': 'Delhi'}

In [28]:
mycol.drop()

In [29]:
for x in mycol.find():
    print(x)